@import url('https://www.fontshare.com/');
html,
body {
    margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 p {
    font-family: 'ClashDisplay-Regular';
}

/* Panel Defaults */
.panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
  box-sizing: border-box;

  padding: 3em;
}

/* Container for Background Images  */
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.one {
  background-image: url(https://cdn.nba.com/manage/2018/10/derrick-rose-mvp-2011.jpg);
}

.two {
  background-image: url("https://picsum.photos/1600/800?random=2");
}

.three {
  background-image: url("https://picsum.photos/1600/800?random=3");
}

.four {
  background-image: url("https://picsum.photos/1600/800?random=4");
}

.five {
  background-image: url("https://picsum.photos/1600/800?random=5");
}
