@import url(clash-display.css);

html,
body {
    font-family: 'ClashDisplay-Regular';
    margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
    font-size: 15em;
    color: white;
    position:absolute;
  font-size: 5em;
}

/* Panel Defaults */
.panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
  box-sizing: border-box;

  padding: 3em;
}

.title {
  position:absolute;
  font-size: 5em;
  top: 50px;
  right: 50px;
  text-shadow: 1px 4px black ;
}


p {
  color: black;
  font-size: 2em;
  width:60%;
  position: relative;
  text-align: center;
  bottom: 0px;
  margin: 15px;
}

/* Fixed Rose */
.rose {
  height:300px;
  width:300px;
  position:fixed;
  left:-50px;
  top:-100px;
  transform:rotate(180deg);
}

.rose-2 {
  height:300px;
  width:300px;
  position:fixed;
  left:50px;
  top:-175px;
  transform:rotate(180deg);
}

.rose-3 {
  height:300px;
  width:300px;
  position:fixed;
  left:-150px;
  top:-25px;
  transform:rotate(180deg);
}

.rose-4 {
  height:300px;
  width:300px;
  position:fixed;
  right:-50px;
  bottom:-100px;
}

.rose-5 {
  height:300px;
  width:300px;
  position:fixed;
  right:50px;
  bottom:-175px;
}
.rose-6 {
  height:300px;
  width:300px;
  position:fixed;
  right:-150px;
  bottom:-25px;
}

.panel .subtitle{
  color: white;
  font-size: 2.5em;
  position: absolute;
  right: -375px;
  top: 175px;
  text-shadow: 1px 4px black;
}

/* Container for Background Images  */
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Background Images/Videos */
.back-video {
position: absolute;
z-index: -1;
top:0;
left:0;
min-width: 100%;
min-height: 100%;
}

.one {
  background-image: url(DerrickRose2-1-1568x882.webp);
  z-index:-1;
  text-align: center;
}

.two {
  background-image: url("Derrick Rose Receives the MVP Trophy.mp4");
  z-index:-1;
  text-align: center;
}

.three {
  background-color: #52011B;
  z-index:-1;
  text-align: center;
}

.four {
  background-image: url("Derrick Rose ACL Knee Injury - 4 28 2012 2012 NBA Playoffs Game 1.mp4");
  z-index:-1;
  text-align: center;
}

.five {
  background-color: #85012C;
  z-index:-1;
  text-align: center;
}