@import url(clash-display.css);

html,
body {
    font-family: 'ClashDisplay-Regular';
    margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
    font-size: 15em;
    color: white;
    position:absolute;
  font-size: 5em;
}

/* Panel Defaults */
.panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
  box-sizing: border-box;

  padding: 3em;
}

.title {
  position:absolute;
  font-size: 4.5em;
  top: 60px;
  right: 50px;
  text-shadow: 1px 4px black ;
}


p {
  color: white;
  font-size: 2em;
  width:60%;
  position: relative;
  text-align: center;
  bottom: 0px;
  margin: 15px;
}

/* Fixed Rose */
.rose {
  height:300px;
  width:300px;
  position:fixed;
  left:-50px;
  top:-100px;
  transform:rotate(180deg);
}

.rose-2 {
  height:300px;
  width:300px;
  position:fixed;
  left:50px;
  top:-175px;
  transform:rotate(180deg);
}

.rose-3 {
  height:300px;
  width:300px;
  position:fixed;
  left:-150px;
  top:-25px;
  transform:rotate(180deg);
}

.rose-4 {
  height:300px;
  width:300px;
  position:fixed;
  right:-50px;
  bottom:-100px;
}

.rose-5 {
  height:300px;
  width:300px;
  position:fixed;
  right:50px;
  bottom:-175px;
}
.rose-6 {
  height:300px;
  width:300px;
  position:fixed;
  right:-150px;
  bottom:-25px;
}

.panel .subtitle{
  color: white;
  font-size: 2.5em;
  position: absolute;
  right: -300px;
  top: 180px;
  text-shadow: 1px 4px black;
}

/* Container for Background Images  */
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Background Images/Videos */
.back-video {
position: absolute;
z-index: -1;
top:0;
left:0;
min-width: 100%;
min-height: 100%;
}

.one {
  background-image: url(DerrickRose2-1-1568x882.webp);
  z-index:-1;
  text-align: center;
}

.two {
  background-image: url("Derrick Rose Receives the MVP Trophy.mp4");
  z-index:-1;
  text-align: center;
}

.three {
  background-color: #52011B;
  z-index:-1;
  text-align: center;
}

.four {
  background-image: url("Derrick Rose ACL Knee Injury - 4 28 2012 2012 NBA Playoffs Game 1.mp4");
  z-index:-1;
  text-align: center;
}

.five {
  background-color: #85012C;
  z-index:-1;
  text-align: center;
}

.six {
  background-image: url(DRose\ Buzzer\ Beater.mp4);
  z-index: -1;
  text-align: center;
}

.seven {
  background-color: #B8023D;
  z-index: -1;
  text-align: center;
  font-size: .6em;
}

.eight {
  background-image: url(DRose\ Knicks\ \(1st\ season\).mp4);
  z-index: -1;
  text-align: center;
}

.nine {
  background-color: #EB024D;
  z-index: -1;
  text-align: center;
}

.ten {
  background-image: url(DRose\ Cavs.mp4);
  z-index: -1;
  text-align: center;
}

.eleven {
  background-color: #EB316D;
  z-index: -1;
  text-align: center;
}

.twelve {
  background-image: url(DRose\ 50\ Points.mp4);
  z-index: -1;
  text-align: center;
}

.thirteen {
  background-color: #FF3803;
  z-index: -1;
  text-align: center;
  font-size: .8em;
}

.fourteen {
  background-image: url(Derrick\ Rose\ Game\ Winner!\ Detroit\ Pistons\ Beat\ New\ Orleans\ Pelicans\ on\ DRose\ Game-Winning\ Shot.mp4);
  z-index: -1;
  text-align: center;
}

.fifteen {
  background-color: #FF4C1C;
  z-index: -1;
  text-align: center;
  font-size: .8em;
}

.sixteen {
  background-image: url(DRose\ Knicks\ \(2nd\ Season\).mp4);
  z-index: -1;
  text-align: center;
}

.seventeen {
  background-color: #FF6036;
  z-index: -1;
  text-align: center;
  font-size: .8em;
}

.eighteen {
  background-image: url(DRose\ Grizzlies.mp4);
  z-index: -1;
  text-align: center;
}

.nineteen {
  background-color: #FF744F;
  z-index: -1;
  text-align: center;
}

.twenty {
  background-image: url(Derrick\ Rose\ Flex.jpeg);
  z-index: -1;
  text-align: left;
}

.bold {
  font-family: 'ClashDisplay-Semibold';
}

.message {
  color: #85012C;
  font-size: 2em;
  position: absolute;
  left: 20px;
  bottom: 5px;

}